{% extends '::club.base.html.twig' %}
{% block applicationname %} {{ 'application.name.default'|trans }} {% endblock %}
{% block hero %} 
<h1>Club</h1>
{% endblock %}
{% block body %}
<div class="row">
    <div class="span6">
        <h2>{{ entity.name}}</h2>
        <div>
            {{ entity.street }}<br />
            {{ entity.city }} {{ entity.zip }}<br />
            {{ entity.country }}
        </div>
        <h2>{{ 'club.synopsis.header'|trans }}</h2>
        <div>
            {{ entity.synopsis}}
        </div>
    </div>
    <div class="span6">
        <h2>{{ 'club.categories.header'|trans }}</h2>
        <ul>
            {% for category in entity.categories %}
            <li>
                <a href="{{ path('ranking_list', { 'categoryid': category.id }) }}">{{ category.name }} ({{ repo.getPlayerCount(category) }} {{'club.category.player.count'|trans }})</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
