<h1>SetScore</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Homegames</th>
            <td>{{ entity.homegames }}</td>
        </tr>
        <tr>
            <th>Awaygames</th>
            <td>{{ entity.awaygames }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ entity.number }}</td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('setscore') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('setscore_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('setscore_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
