{% extends '::club.base.html.twig' %}
{% block applicationname %} {{ 'application.name.default'|trans }} {% endblock %}
{% block hero %} 
<h1>{{ entity.name }}</h1>
{% endblock %}
{% block body %}
<form action="{{ path('club_admin_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn">{{ 'admin.club.edit.submit'|trans }}</button>
    </p>
</form>
{% endblock %}
