{% extends "::sport.base.html.twig" %}

{% block body %}
<h1>Log ind</h1>
{% if error %}
    <div>{{ error }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">Brugernavn</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Kode</label>
    <input type="password" id="password" name="_password" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">Husk mig</label>

    <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Log ind &raquo;" />
    
    <a href="{{ path("fos_user_resetting_request") }}" class="btn btn-danger">Nulstil min kode</a>
</form>
{% endblock body %}
